*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #080603;
}
